<%- include('../partials/nav') %>

    <div class="container">
        <div class="with-delete">
            <% if (recipe.owner._id.equals(user._id)) { %>

                <a href="/recipes/<%= recipe._id %>/edit" class="delete">
                    <div><img src="/images/compose.png" width="30px"></div>
                </a>
                <%}%>
        </div>

        <h1>
            <%= recipe.recipeName %>
        </h1>
        <div class="recipe-top">
            <h4>Category: <%= recipe.category%>
            </h4>
            <h4>Serving: <%= recipe.serving%>
            </h4>
            <h4>Cook Time: <%= recipe.cookTime%> mins </h4>
        </div>
        <div class="ingredients">
            <h3>Ingredients: </h3>
            <% allingredients.forEach((item)=>{ %>
                <li>
                    <%= item %>
                </li>
                <br>
                <% }) %>
        </div>
        <div class="instructions">
            <h3>Instructions: </h3>
            <% allinstructions.forEach((item)=>{ %>
                <li class="instructions-list"><%= item %></li>
                    <br>
                    <% }) %>
        </div>
        <div class="comments-1">

            <form action="/recipes/<%= recipe._id %>/comments" method="post">
                <textarea name="msg" rows="4" placeholder="comment"></textarea>
                <br>
                <button type="submit">Add comment</button>
            </form>
        </div>
        <hr style="width: 80%;">
        <div class="comments">
            <h2>Comments</h2>
            <% recipe.comments.forEach((comment)=> { %>
                <div>
                    <p>
                        <%= comment.msg %>
                    </p>
                    <p>commented by: <%= comment.ownerId.username %>
                    </p>
                </div>
                <% })%>
        </div>

        <div class="with-delete">
            <% if (recipe.owner._id.equals(user._id)) { %>

                <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="delete"><img src="/images/delete.png" width="30px"></button>
                </form>
                <% } %>
        </div>
    </div>

    </div>


    </body>

    </html>