<%- include('../partials/nav') %>

    <div class="container">
        <div class="with-delete">
        <a href="/recipes/<%= recipe._id %>/edit" class="delete"><div><img src="/images/compose.png" width="30px"></div></a>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
            <button type="submit" class="delete"><img src="/images/delete.png" width="30px"></button>
        </form>
        </div>
        <h1>
            <%= recipe.recipeName %>
        </h1>
        <div class="recipe-top">
            <h4>Category: <%= recipe.category%>
            </h4>
            <h4>Serving: <%= recipe.serving%>
            </h4>
            <h4>Cook Time: <%= recipe.cookTime%> mins </h4>
        </div>
        <div class="ingredients">
            <h3>Ingredients: </h3>
            <% allingredients.forEach((item)=>{ %>
                <li>
                    <%= item %>
                </li>
                <br>
                <% }) %>
        </div>
        <div class="instructions">
            <h3>Instructions: </h3>
            <% allinstructions.forEach((item)=>{ %>
                <%= item %>
                    <br>
                    <% }) %>
        </div>
        <div class="delete-comment">

            <form action="/recipes/<%= recipe._id %>/comments" method="post">
                <textarea name="msg" rows="4" placeholder="comment"></textarea>
                <button type="submit">Add comment</button>
            </form>
        </div>
        <div>
            <h3>Comments</h3>
            <% recipe.comments.forEach((comment)=> { %>
                <div>
                    <p>
                        <%= comment.msg %>
                    </p>
                    <p>commented by: <%= comment.ownerId.username %>
                    </p>
                </div>
                <% })%>
        </div>
    </div>

    </div>


    </body>

    </html>