<%- include('../partials/nav') %>

    <h1>
        <%= recipe.recipeName %>
    </h1>
    <div class="recipe-top">
        <h4>Category: <%= recipe.category%>
        </h4>
        <h4>Serving: <%= recipe.serving%>
        </h4>
        <h4>Cook Time: <%= recipe.cookTime%> mins </h4>
    </div>
    <div>
        <h3>Ingredients: </h3>
        <% recipe.ingredients.forEach((item)=>{ %>
            <li>
                <%= item %>
            </li>
            <br>
            <% }) %>

    </div>
    <div>
        <h3>Instructions: </h3>
        <p>
            <%= recipe.instructions%>
        </p>
    </div>


    </body>

    </html>